.backclik_black {
  position: absolute;
  top: 0;
  background: #FFDDE0;
  padding: 10px;
  left: 0;
  border-radius: 100%;
}

ion-col {
  margin: 35px 0;
}

ion-header::after {
  border: unset
}

.hw-otp-konten {
  margin-top: 0px;
  h3 {
    font-family: "Metropolis-Bold";
    font-size: 24px;
}
p {
  color: #B2B2B2;
}
}
.hw-tombol {
  margin-top: 45px;
}

.konten_otp {
  ion-grid {
    padding: 0;

    ion-col {
      padding-left: 0
    }
  }

  h3 {
    font-family: 'Metropolis-Bold';
    font-size: 20px
  }

  p {
    font-size: 14px
  }

  .otp-box {
    margin-top: 0px;
    margin-right: 5px;


    h2 {
      margin: 0;
      font-size: 12px;
      color: #b6b6be;
    }

    ion-input {
      text-align: center;
      border: 1px solid #e1e5e8;
      border-radius: 5px;
      margin-top: 8px;
      font-size: 14px;
      padding: 3px !important;
      padding-left: 0px !important;
      color: #383838;
      font-weight: 600;
      --padding-start: 0;
    }

    &:last-child {
      margin-top: 0px;
      margin-right: 0px;
    }
  }

  ion-button {
    --background: #1BAA45;
    --border-radius: 10px;
    --box-shadow: none;
    color: #fff;
    font-family: "Metropolis-Bold";
    width: 182px;
    float: right;
    margin-top: 10%
  }
}

ion-footer {
  p {
    margin-bottom: 25px;
    font-family: "Metropolis-Bold";
    font-size: 14px;

    span {
      color: #1BAA45;
      font-family: "Metropolis-Bold";
      font-size: 14px;
    }
  }
}

.footer-md::before {
  background-image: unset;


}

// ------ copy regis
// .bungkus {
//     margin-top: -25px;
// }
.gambar-bawah {
  margin-top: 20px;
}

.upgan {
  margin-top: 20px;
}

// -------------------------- 
.mid {
  flex: 1;
}

.frame-default {
  padding: 30px 20px 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .logo {
    width: 35%;
    margin-top: 15px;
  }
}

.latar {
  //position: fixed;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //margin: auto;
  //height: 22%;
  //  position: absolute;
  //  display: block;
  width: 100%;
  height: 40vw;
  margin-bottom: -3px;
}

.bulet {
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-end: 0px;
  max-width: 35px;
  background: #dedede;
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin: auto;
}

// .bulet:focus-within {
//     background: rebeccapurple;
//     color: white;
// }
// .bulet-cover:focus-within {
//     opacity: 0;
//     transition: ease .3;
// }
// .bulet-cover {
//     background: #dedede;
//     padding: 17px;
//     border-radius: 50px;
//     position: absolute;
//     z-index: 0;
//     margin-top: -5px;
// }
ion-button::part(native) {
  height: 50px;
    background: #F15162;
    border-radius: 20px;
    letter-spacing: 2px;
}

.atau {
  color: #565656;
  font-size: 14px;
  font-family: "Metropolis-Medium";
}

// -------------------------------


ion-grid {
  padding: 5px 0;

  ion-col {
    padding: 10px 0
  }
}


.ion-padding {
  --padding-top: 0
}

h3 {
  font-family: "Metropolis-Semi";
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

p {
  font-family: 'Metropolis-Regular';
  font-size: 14px;
  line-height: 2;
}

// backup css tanpa floating label
//   ion-input {
//     border-bottom: 1px solid #E6E6E6;
//     font-family: "Metropolis-Medium";
//     border-radius: unset;
//     margin-bottom: 5px;
//     font-size: 12px;
//   }
ion-input {
  font-family: "Metropolis-Medium";
  border-radius: unset;
  margin-bottom: 5px;
  font-size: 12px;
}

.sc-ion-input-md-h {
  --padding-start: 0px;
  --padding-top: 10px;
  --padding-bottom: 10px
}

ion-button {
  --border-radius: 10px;
  --box-shadow: none;
  color: #fff;
  font-family: "Metropolis-Bold";
  margin-bottom: 5px
}

ion-button span {
  color: #fff;
  font-family: "Metropolis-Bold";
  margin-left: 15px;
  margin-top: 4px;
}

.login_button ion-button {
  --background: #6257A0;
  width: 100%;
  text-transform: unset;
  margin-top: 10px;
  margin-left: 0;
}

.googlebutton ion-button {
  --background: #FD8056;
  width: 100%;
  text-transform: unset;
  margin-top: 25px;
  margin-left: 0;
}

.hw-lupa span {
  font-family: "Metropolis-Bold";
  color: #6257A0;
  font-size: 12px
}

.bm_reg {
  font-family: "Metropolis-Medium";
  font-size: 12px;
  color: #565656;
}

.bm_reg a {
  font-family: "Metropolis-Bold";
  color: #6257A0;
  font-size: 12px;
  text-decoration: none;
}

div.hw-lupa {
  float: right;
  padding: 5px 0;
}

ion-header ion-toolbar {
  --background: #6257A000 !important;
}
