<ion-content fullscreen="true">
  <div style="width: 100%">
    <ion-item lines="none" class="header-title" style="margin-bottom: -10px">
      <ion-col size="1">
        <ion-icon
          class="backclik_black"
          (click)="backClick()"
          src="assets/icon/chevron-left.svg"
        ></ion-icon>
      </ion-col>
      <ion-col size="11">
        <p class="title" style="margin: 20px 0 0px 10px">Detail Promo</p>
        <p style="margin: 0">
          <span style="padding-left: 10px"
            ></span
          >
        </p>
      </ion-col>
    </ion-item>
  </div>

  <!--PROMO DETAIL-->
  <div class="datanya">
    <ion-item class="hw-lapangan" lines="none">
      <img class="hw-ganbarnya" src="{{imageUrl}}/{{court.image}}" />
    </ion-item>

    <!-- DESCRIPTION -->
    <ion-item class="hw-lapangan produk-desc" lines="none">
      <ion-col>
        <p class="hw-nama-lapangan">{{court.name}}</p>
        <p class="hw-deskripsi">
          {{court.promo}}
        </p>
      </ion-col>
    </ion-item>
    <!--Harganya-->
    <ion-item lines="none">
      <ion-col>
        <p class="harga">{{court.price_description}}</p>
        <span class="hw-btn" (click)="bookingClick()">Booking</span>
      </ion-col>
    </ion-item>
  </div>
</ion-content>
