<ion-content>
  <ion-item lines="none" class="header-title" style="margin-bottom: -10px">
      <ion-col size="1"   (click)="backClick()">
      <ion-icon class="backclik_black"  src="assets/icon/chevron-left.svg"></ion-icon>
    </ion-col>
  
    <ion-col size="11">
      <p class="title">Biodata Diri</p>
      <p style="margin: -11px 0 0px 10px">
        <span style="padding-left: 10px">Silahkan input data diri kamu</span>
      </p>
    </ion-col>
  </ion-item>
  <form #form="ngForm" (ngSubmit)="updateProfile(form.value)">
    <div class="frame-default">

      <ion-grid class="mid">
        <ion-row color="primary">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div class="hw-form-daftar">
              <ion-item lines="none">
                <ion-label position="floating" mode="ios">Nama Lengkap</ion-label>
                <ion-input enterkeyhint="go" type="text" name="name" [(ngModel)]="user.name"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating" mode="ios">Tanggal Lahir</ion-label>
                <ion-input enterkeyhint="go" type="date" name="birthday" [(ngModel)]="user.client.birthday"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating" mode="ios">Nomor Handphone</ion-label>
                <ion-input enterkeyhint="go" type="number" name="phone" [(ngModel)]="user.client.phone">
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating" mode="ios">Email</ion-label>
                <ion-input enterkeyhint="go" type="email" name="email" [(ngModel)]="user.email"></ion-input>
              </ion-item>

              <div style="width: 100%">
                <ion-label>Jenis Kelamin</ion-label>
                <ion-radio-group  [(ngModel)]="user.client.sex" name="sex">
                  <ion-radio class="hw-pria" value="male"></ion-radio>
                  <ion-radio class="hw-wanita" value="female"></ion-radio>
                </ion-radio-group>
              </div>

              <div class="hw-tambahan">
                <div class="col2 left">
                  <ion-item lines="none">
                    <ion-label position="floating" mode="ios">Tinggi</ion-label>
                    <ion-input enterkeyhint="go" type="number" name="height" [(ngModel)]="user.client.height">
                    </ion-input>
                  </ion-item>
                </div>
                <div class="col2 right">
                  <ion-item lines="none">
                    <ion-label position="floating" mode="ios">Berat</ion-label>
                    <ion-input enterkeyhint="go" type="text" name="weight" [(ngModel)]="user.client.weight"></ion-input>
                  </ion-item>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row> </ion-row>
      </ion-grid>

    </div>
    <ion-footer>
      <div style="padding: 0px 20px 20px 20px; display: block">
        <ion-col>
          <div class="ion-text-center googlebutton">
            <ion-button type="submit" [disabled]="form.invalid" expand="block" class="flex-margin" size="default">
              <span>Simpan Perubahan</span>
            </ion-button>
          </div>
        </ion-col>
      </div>
    </ion-footer>
  </form>
</ion-content>