.backclik_black {
    position: absolute;
    top: 20px;
    background: rgb(255 255 255 / 89%);
    padding: 10px;
    left: 20px;
    border-radius: 100%;
  }
  
  .hw-head {
    max-height: 214px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
  }
  
  ion-item {
    --padding-start: 20px;
    --padding-end: 20px;
  
    p {
      font-family: 'Metropolis-Semi';
      font-size: 18px;
    }
  
    .kategori,
    .harga {
      color: #6257A0;
    }
  
    .kategori {
      font-size: 12px;
    }
  
    div[slot=end] {
      padding-top: 21px;
    }
  }
  
  .ion-padding {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  
  img.thumbnail {
    min-height: 80px;
}

ion-item.hw-listlapangan {
    margin-top: 20px;
    p {
        margin: 5px;
        font-size: 14px;
        line-height: 1.2;
        font-family: "Metropolis-Regular";
        letter-spacing: 0.5px;
    }
    p.hw-shortdesc {
        color: #1a74c3;
    font-size: 15px;
    font-family: "Metropolis-Semi";
    }
}

ion-item.header-title p {
    color: #65A3FC;
    font-family: "Metropolis-Bold";
    font-size: 18px;
}

span {
    font-family: "Metropolis-Regular";
    color: #A5A5A5;
    font-size: 14px;
}

span.hw-btn {
    position: absolute;
    right: 0;
    top: 10px;
    background: #a8afab;
    color: #fff;
    padding: 5px 14px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
}