<ion-content fullscreen="true">
  <app-base-header
    (handleBackClick)="backClick()"
    title="Lapangan"
    description="Silahkan mencari lapangan pilihan kamu"
  >
  </app-base-header>
  
  <!--Datanya-->
  <div class="datanya">
    <ion-item class="hw-lapangan" lines="none">
      <img class="hw-ganbarnya" src="{{imageUrl}}/{{court.image}}"/>
    </ion-item>

    <!--Nama Lapangan & Deskripsi-->
    <ion-item class="hw-lapangan produk-desc" lines="none">
      <ion-col>
        <p class="hw-nama-lapangan">{{ court.name }}</p>
        <p class="hw-deskripsi">
          {{ court.description }}
        </p>
      </ion-col>
    </ion-item>

    <!--Jenis Fasilitasnya-->
    <ion-item
      class="hw-lapangan spesifikasi"
      lines="none"
      style="margin-top: -20px"
    >
      <ion-col size="12">
        <div class="hw-col-main">
          <div class="hw-col6 hw-jenis">
            <p>Cabang Olahraga</p>
          </div>
          <div class="hw-col6 teks-kanan">
            <p>{{ court.sports }}</p>
          </div>
        </div>

        <div class="hw-col-main">
          <div class="hw-col6 hw-jenis">
            <p>Jenis Lapangan</p>
          </div>
          <div class="hw-col6 teks-kanan">
            <p>{{ court.field_type }}</p>
          </div>
        </div>

        <div class="hw-col-main">
          <div class="hw-col6 hw-jenis">
            <p>Jenis Alas</p>
          </div>
          <div class="hw-col6 teks-kanan">
            <p>{{ court.pedestal_type }}</p>
          </div>
        </div>
        <div style="border: 1px solid #ebebeb"></div>
      </ion-col>
    </ion-item>

    <!--Harganya-->
    <ion-item lines="none">
      <ion-col>
        <p class="harga">{{ court.price_description }}</p>
        <span class="hw-btn" (click)="bookingClick()">Booking</span>
      </ion-col>
    </ion-item>
  </div>
</ion-content>
