<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="width: 100%">
    <ion-item lines="none" class="header-title" style="margin-bottom: -10px">
      <ion-col size="1">
        <ion-icon
          class="backclik_black"
          (click)="backClick()"
          src="assets/icon/chevron-left.svg"
        ></ion-icon>
      </ion-col>
      <ion-col size="11">
        <p class="title">{{category.name}}</p>
        <p style="margin: -11px 0 0px 10px">
          <span style="padding-left: 10px">List venue pilihan untuk kamu</span>
        </p>
      </ion-col>
    </ion-item>
  </div>

  <ion-item class="hw-cari" lines="none">
    <ion-icon class="icon-search" name="search" item-start></ion-icon>
    <ion-input placeholder="Lapangan Apaki Cari Bossku ?"></ion-input>
  </ion-item>

  <div class="hw-list" style="width: 100%" *ngFor="let venue of venues">
  
      <ion-item class="hw-listlapangan" (click) = "venueClick(venue)">
        <ion-col size="9" style="padding: 0">
          <p class="hw-nama">{{venue.name}}</p>
          <p class="hw-address">
            {{venue.location}}
          </p>

          <p class="hw-fasilitas">{{venue?.facilities[0].name}}</p>
          <p class="hw-fasilitas">{{venue?.facilities[1].name}}</p>

          <p class="hw-nama harga">{{venue?.courts[0].price_description}}</p>
        </ion-col>

        <ion-col size="3">
          <img class="thumbnail" src="{{imageUrl}}{{venue.logo}}" />
        </ion-col>
      </ion-item>

  </div>
</ion-content>
