<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="width: 100%;">
  <ion-item lines="none" class="header-title">
    <p class="title" style="margin: 20px 0 0px 0;">Futsal</p>
  </ion-item>
  <p style="margin: 0;">
    <span style="padding: 0 20px;">Booking online, GRATIS extra time 15menit!</span>
  </p>
</div>

<ion-item class="hw-cari" lines="none">
<ion-icon class="icon-search" name="search" item-start></ion-icon>
<ion-input placeholder="Lapangan Apaki Cari Bossku ?"></ion-input>
</ion-item>

<div class="hw-list" style="width:100% ;">
  <a href="/olahraga/singlesport">
<ion-item class="hw-listlapangan">
  <ion-col size="9" style="padding: 0;">
    <p class="hw-nama">
      Futsal Holic
    </p>
    <p class="hw-address">
      Jl. Poros Bungoro - Tonasa 2 Bontoa, Minasatene Kabupaten Pangkep 90615
      Sulawesi Selatan, Indonesia.
    </p>

    <p class="hw-fasilitas">Free air gelas</p>
    <p class="hw-fasilitas">Ruang Ganti</p>

    <p class="hw-nama harga">
      Rp. Rp350.000<span>/ Sesi</span>
    </p>
  </ion-col>

  <ion-col size="3">
    <img class="thumbnail" src="assets/msport/home/ftsl.jpg" />
  </ion-col>
</ion-item>
</a>
</div>

<div class="hw-list" style="width:100% ;">
  <ion-item class="hw-listlapangan">
    <ion-col size="9" style="padding: 0;">
      <p class="hw-nama">Futsal Holic</p>
      <p class="hw-address">Jl. Hertasning Baru No.23, Makassar</p>
      <p class="hw-nama harga">Rp. Rp350.000<span>/ Sesi</span></p>
    </ion-col>
  
    <ion-col size="3">
      <img class="thumbnail" src="assets/msport/home/ftsl.jpg" />
    </ion-col>
  </ion-item>
  </div>

  <div class="hw-list" style="width:100% ;">
    <ion-item class="hw-listlapangan">
      <ion-col size="9" style="padding: 0;">
        <p class="hw-nama">Futsal Holic</p>
        <p class="hw-address">Jl. Hertasning Baru No.23, Makassar</p>
        <p class="hw-fasilitas">Parkiran Motor</p>
        <p class="hw-nama harga">Rp. Rp350.000<span>/ Sesi</span></p>
      </ion-col>
    
      <ion-col size="3">
        <img class="thumbnail" src="assets/msport/home/ftsl.jpg" />
      </ion-col>
    </ion-item>
    </div>

    <div class="hw-list" style="width:100% ;">
      <ion-item class="hw-listlapangan">
        <ion-col size="9" style="padding: 0;">
          <p class="hw-nama">Futsal Holic</p>
          <p class="hw-address">Jl. Hertasning Baru No.23, Makassar</p>
          <p class="hw-fasilitas">Free air gelas</p>
          <p class="hw-fasilitas">Ruang Ganti</p>
          <p class="hw-fasilitas">Parkiran Motor</p>
          <p class="hw-nama harga">Rp. Rp350.000<span>/ Sesi</span></p>
        </ion-col>
      
        <ion-col size="3">
          <img class="thumbnail" src="assets/msport/home/ftsl.jpg" />
        </ion-col>
      </ion-item>
      </div>

      <div class="hw-list" style="width:100% ;">
        <ion-item class="hw-listlapangan">
          <ion-col size="9" style="padding: 0;">
            <p class="hw-nama">Futsal Holic</p>
            <p class="hw-address">Jl. Mallengkeri Zchar II, No.24A, Makassar, Sulawesi-Selatan, Indonesia.</p>
            <p class="hw-fasilitas">Ruang Ganti</p>
            <p class="hw-fasilitas">Parkiran Motor</p>
            <p class="hw-nama harga">Rp. Rp350.000<span>/ Sesi</span></p>
          </ion-col>
        
          <ion-col size="3">
            <img class="thumbnail" src="assets/msport/home/ftsl.jpg" />
          </ion-col>
        </ion-item>
        </div>

        <div class="hw-list" style="width:100% ;">
          <ion-item class="hw-listlapangan">
            <ion-col size="9" style="padding: 0;">
              <p class="hw-nama">Futsal Holic</p>
              <p class="hw-address">Jl. Hertasning Baru No.23, Makassar</p>
              <p class="hw-fasilitas">Ruang Ganti</p>
              <p class="hw-fasilitas">Air Gelas</p>
              <p class="hw-nama harga">Rp. Rp350.000<span>/ Sesi</span></p>
            </ion-col>
          
            <ion-col size="3">
              <img class="thumbnail" src="assets/msport/home/ftsl.jpg" />
            </ion-col>
          </ion-item>
          </div>
</ion-content>

