<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <img class="hw-head" src="assets/jac/home/ftsl.jpg" />
  <ion-icon class="backclik_black" (click)="backClick()" src="assets/icon/back.svg"></ion-icon>
  <div style="width: 100%;">
  <ion-item lines="none" class="header-title">
    <p class="title" style="margin: 20px 0 0px 0;">Futsal</p>
  </ion-item>
  <p style="margin: 0;">
    <span style="padding: 0 20px;">Booking online, GRATIS extra time 15menit!</span>
  </p>
</div>

<ion-item class="hw-listlapangan" lines="none">
  <ion-col size="3" style="padding: 0;">
    <img class="thumbnail" src="assets/jac/home/ftsl.jpg" />
  </ion-col>

  <ion-col size="9">
    <p>Futsal Holic</p>
    <p class="hw-shortdesc">Short Deskripsinya</p>
    <p>Available</p>
    <span class="hw-btn">Lihat</span>
  </ion-col>
</ion-item>

<ion-item class="hw-listlapangan" lines="none">
  <ion-col size="3" style="padding: 0;">
    <img class="thumbnail" src="assets/jac/home/gedung-futsal.jpg" />
  </ion-col>

  <ion-col size="9">
    <p>Corner Futsal</p>
    <p class="hw-shortdesc">Short Deskripsinya</p>
    <p>Available</p>
    <span class="hw-btn">Lihat</span>
  </ion-col>
</ion-item>

<ion-item class="hw-listlapangan" lines="none">
  <ion-col size="3" style="padding: 0;">
    <img class="thumbnail" src="assets/jac/home/holic.jpg" />
  </ion-col>

  <ion-col size="9">
    <p>Gor Futsal Stadion</p>
    <p class="hw-shortdesc">Short Deskripsinya</p>
    <p>Booked</p>
    <span class="hw-btn">Lihat</span>
  </ion-col>
</ion-item>

<ion-item class="hw-listlapangan" lines="none">
  <ion-col size="3" style="padding: 0;">
    <img class="thumbnail" src="assets/jac/home/11.jpg" />
  </ion-col>

  <ion-col size="9">
    <p>Central Futsal</p>
    <p class="hw-shortdesc">Short Deskripsinya</p>
    <p>Booked</p>
    <span class="hw-btn">Lihat</span>
  </ion-col>
</ion-item>

<ion-item class="hw-listlapangan" lines="none">
  <ion-col size="3" style="padding: 0;">
    <img class="thumbnail" src="assets/jac/home/news-lg.jpeg" />
  </ion-col>

  <ion-col size="9">
    <p>Celebes Futsal</p>
    <p class="hw-shortdesc">Short Deskripsinya</p>
    <p>Available</p>
    <span class="hw-btn">Lihat</span>
  </ion-col>
</ion-item>

<ion-item class="hw-listlapangan" lines="none">
  <ion-col size="3" style="padding: 0;">
    <img class="thumbnail" src="assets/jac/home/2.jpg" />
  </ion-col>

  <ion-col size="9">
    <p>FIK UNM Futsal</p>
    <p class="hw-shortdesc">Short Deskripsinya</p>
    <p>Available</p>
    <span class="hw-btn">Lihat</span>
  </ion-col>
</ion-item>

</ion-content>
<ion-footer class="ion-no-border">
</ion-footer>
